*,*::after,*:before{
    margin:0;padding:0;box-sizing: border-box;
}

header{
    display:flex;justify-content:space-between;align-items:center;padding:20px;
}

header div{
    display:flex;align-items:center;
}

a{
    text-decoration:none;color:white;background-color:rgb(0, 0, 0);margin-right:10px;
    padding:10px 30px;border-radius:5px;font-size:18px;font-weight: bold;
}

main{
    width:100vw;height:600px;display:flex;justify-content:center;align-items:center;
}
